@import 'variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 200ms ease-in;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  background: $very-light-gray;
  min-height: 100vh;

  &.dark {
    background: $very-dark-blue;
  }
}
